
body {
    padding: 10%;
}

.s-title {
    font-size: 14pt;
    font-weight: bold;
}

.orange {
    color: #E85B31;
}

.bold {
    font-weight: bold;
}

.block {
    margin-top: 100px;
}

.question {
    font-size: 18pt;
}

ul {
    list-style: none;
    line-height: 1.8;
}

.puzzle {
    width: 1024px;
}

iframe {
    width: 1280px;
    height: 720px;
    border: 0;
}

